*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
}

.main-page {
    padding-top: 50px;
}
.container{

    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
    
}

.post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 2px solid black;
    margin-bottom: 5px;
}

.post__content {
    width: 100%;
    margin-left: 20px;
}
.author-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.posts-feed {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.post__image {
    width: 100px;
    height: 100px;

}

.post__button {
    align-self: flex-start;
    padding: 0px 5px;
    cursor: pointer;
}